 nav {
   position: fixed;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
 }

 .navbar {
   background-color: #1a2456;
   width: 100%;
   height: 5vh;
   margin: 10px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;

 }

 .hamburger-menu {
   width: 30px;
   height: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   display: none;

 }

 .bar {
   width: 100%;
   height: 3px;
   background-color: #ff8b68;
   margin: 3px 0;
   transition: background-color 0.3s ease;
 }

 .hamburger-menu.active .bar {
   background-color: #333;
   /* Cambia el color cuando el menú está activo */
 }

 .logo {
   width: 30%;
   padding: 5px;
   display: flex;
 }

 .logo img {
   width: 60%;
   margin-left: 20px;
 }

 .rightDiv {
   width: 80%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-right: 20px;
 }

 .rightDiv a {
   margin: 10px;
   color: #ff8b68;
   text-decoration: none;
   cursor: pointer;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }


 .dropdown {
   float: left;
   overflow: hidden;
 }

 .dropdown .dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: #1a2456;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
   color: #ff8b68;

 }

 .navbar a:hover,
 .dropdown:hover .dropbtn {
   background-color: #f0efed;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #1a2456;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
 }

 .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: center;
   color: #ff8b68;

 }

 .dropdown-content a:hover {
   background-color: #ddd;
 }

 .dropdown:hover .dropdown-content {
   display: block;
 }

 .sidebar {
   position: fixed;
   top: 0;
   left: 0;
   width: 40%;
   height: 100vh;
   background-color: #fff;
   transform: translateX(-100%);
   transition: transform 0.3s ease-in-out;
   z-index: 999999;

 }

 .sidebar.show {
   transform: translateX(0);
 }

 .sidebar-icon {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   width: 100%;

 }

 .sidebar-icon mat-icon {
   margin: 20px;
   cursor: pointer;
 }

 .sidebar-family {
   display: flex;
 }

 .sidebar-family a {
   flex: 1;
   text-align: center;
   text-decoration: none;
   color: #555555;
   padding: 5px;
   border-bottom: 2px solid transparent;
 }

 .sidebar-family a.selected {
   color: #008bf8;
   border-color: #008bf8;
   font-weight: 400;

 }

 .sidebar-family a:hover {
   color: #008bf8;
   border-color: #008bf8;
   font-weight: 400;
 }


 .sidebar-info {
   margin-top: 50px;
   width: 100%;
   height: auto;
 }


 @media screen and (max-width: 720px) {


   .rightDiv {
     display: none;
   }


   .hamburger-menu {
     display: block;
   }


   .sidebar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: #fff;
     transform: translateX(-100%);
     transition: transform 0.3s ease-in-out;
     z-index: 999999;

   }


   .sidebar-icon a {
     font-size: 2em;
     padding: 20px;
   }

   .sidebar-info div {
     display: flex;
     flex-direction: column;
   }

   .sidebar-info div a {
     margin-bottom: 15px;
     padding-left: 20px;
   }

   .logo {
     width: auto;
     margin-left: 10px;
   }

   .logo img {
     width: 30%;
     justify-content: flex-end;
   }
 }
